.big-container1 {
  height: auto; /* Allows content to grow as needed */
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.big-container1 h1 {
  font-size: 32px; /* Slightly smaller for responsiveness */
  font-weight: 600;
  text-align: center;
}

.boxes {
  display: flex;
  flex-direction: column; /* Default to column for smaller screens */
  align-items: center;
  gap: 20px; /* Adds spacing between boxes */
  margin-top: 30px;
  width: 100%;
  padding: 0 20px;
}

.box1 {
  height: 40vh;
  width: 80vw; /* Full width for smaller screens */
  border-radius: 5%;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.layer1 {
  background-color: rgba(240, 244, 247, 0.61);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-button {
  background-color: #52b9c4;
  border-radius: 100px;
  box-shadow: rgba(125, 217, 227, 0.5) 0 -25px 18px -14px inset,
    rgba(125, 217, 227, 0.5) 0 1px 2px, rgba(125, 217, 227, 0.5) 0 2px 4px,
    rgba(125, 217, 227, 0.5) 0 4px 8px, rgba(125, 217, 227, 0.5) 0 8px 16px,
    rgba(125, 217, 227, 0.5) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
}

.custom-button:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3);
}


@media (max-width: 768px) {
 
  .box1 {
    width: 40vw; 
  }


}


@media (min-width: 768px) {
  .boxes {
    flex-direction: row; 
    justify-content: space-around;
  }

  .box1 {
    width: 40vw; /* Adjust width for larger screens */
  }

  .big-container1 h1 {
    font-size: 40px; /* Increases font size for larger screens */
  }
}
