.Navbar {
  width: 100%;
  background-color: rgba(13, 140, 96, 0.39);
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  /* z-index: 999; */
  box-sizing: border-box;
}


.logo{
  height: 15vh;
  width: 13vw;
}

 .logo3 {
   /* object-fit: cover;  */
   height: 15vh;
   width: 10vw
} 


.center {
  flex: 2;
  display: flex;
  justify-content: center;
  font-weight: 600;
}


.center ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.center li {
  margin: 0 15px;
  position: relative;
}

ul li a {
  text-decoration: none;
  color: #133240;
  transition: color 0.3s ease-in-out;
}

ul li a:hover {
  color: white;
}


.dropdown {
  cursor: pointer;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
   margin-top:10px; 
  left: 0;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
} */

 .dropdown-menu li:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Responsive Styles */
.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .center ul {
    display: none;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    background-color: #ff5833da;
     margin-top: 10px; 
    padding-top: 10px;
      padding-bottom: 20px; 
    position: absolute; 
    top: 9vh; 
    left: 0;
  }

  .center.active ul {
    display: flex;
  }

  .center li {
    margin: 15px 0;
  }

  .menu-icon {
    display: block;
  }

  .dropdown {
    text-align: center;
  }

   .dropdown-menu {
    position: static;
    box-shadow: none;
    width: 100%;
    margin-top: 0;
  }  

  .dropdown-menu li {
    padding: 10px;
  }
  .logo3 {
   
    height: 15vh;
    width: 13vw;
}
}

@media (min-width: 769px) {
  .center ul {
    display: flex;
  }

  .menu-icon {
    display: none;
  }
}
