.footer {
  width: 100%;
  background-color: rgba(13, 140, 96, 0.39);
  /* height: 9vh; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-top: 20px;
}
.logo {
  height: 100px;
}
.footer h4{
  font-size: 10px;
}
.logo3 {
  object-fit: cover;
  height: 90%;
  width: 200px;
}
.contactus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 768px) {
  .logo3 {
  
    width: 100px;
  }



}

@media (min-width: 769px) {
  .logo3 {
  
    width: 100px;
  }
}
